.top-banner {
  // width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-x;  
  overflow: hidden;
}

.slick-list {
  position: relative;
  display: block;
  padding: 0 40px;
  margin: 0 auto;
  overflow: hidden;
}

.slick-track::before, .slick-track::after {
  content: '';
  display: table;
}

.slick-track {
  position: relative;
  display: block;  
  width: 11000px;
  opacity: 1;
  left: 0;
  top: 0;
  // transform: translateX(1084px, 0, 0)
}

.slick-track::after {
  clear: both;
}

.slide-list {
  width: 100%;
  height: 300px;  
}

.slide-item {
  position: relative;
  display: block;
  width: 90.3vw;
  height: 100%;
  float: left;
  min-height: 1px;
  padding: 0 10px;
  touch-action: pan-x;  
}

.slide-img {
  // filter: brightness(50%);
  filter: brightness(100%);
  height: 183px;
  border-radius: 3px 3px 0 0;

  img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;    
    cursor: pointer;
  }
}

.slide-info {
  background-color: #fff;
  text-align: center;
  left: 34px;
  z-index: 10;

  >h2 {
    margin: 20px 0 0 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  >h3 {
    margin: 6px 0 0 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  hr {
    display: none;
  }

  a {
    height: 40px;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #36f;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 64px;
  }
  
  .go-btn-label {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
  }
  
  .go-arrow {
    margin-top: -2px;
    margin-right: -1px;
    margin-left: 2px;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    color: #36f;
  
    svg {
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentColor;
      flex-shrink: 0;
      font-size: inherit;
      overflow: hidden;
    }
  }
}
  
.arrow-btn {
  display: none;
}

@media screen and (min-width: 1200px) {
  .main {
    padding-top: 25px;
  }

  .slick-list {
    padding: 0 50px;
  }

  .slide-item {
    // display: inline-block;
    padding: 0 12px;
    box-sizing: content-box;
    width: 1060px;
  }

  .slide-img {
    height: 300px;
  
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: cover;    
      cursor: pointer;
    }
  }

  .slide-info {
    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #fff;
    // opacity: 0;
    text-align: left;
    left: 34px;
    z-index: 10;

    >h2 {
      margin: 20px 20px 0 20px;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    >h3 {
      margin: 0 20px;
      height: 44px;
      font-size: 14px;
      line-height: 1.64;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0;
    }

    hr {
      display: block;
      height: 1px;
      margin: 0;
      border: none;
      flex-shrink: 0;
      background-color: #ececec;
      box-sizing: content-box;
    }

    a {
      height: 40px;
      margin: 6px 0 0 13px;
      padding: 6px 8px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      color: #36f;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      min-width: 64px;
    }
    
    .go-btn-label {
      width: 100%;
      font-size: inherit;
      font-weight: inherit;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
      color: inherit;
    }
    
    .go-arrow {
      margin-top: -2px;
      margin-right: -1px;
      margin-left: 2px;
      display: flex;
      align-items: inherit;
      justify-content: inherit;
      color: #36f;
    
      svg {
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        flex-shrink: 0;
        font-size: inherit;
        overflow: hidden;
      }
    }    
  }

  .arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    width: 30px;
    height: 60px;
    opacity: .5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
    z-index: 20;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .slide-btn--next {
    right: calc((100% - 1200px) / 2);
  }

  .slide-btn--prev {
    left: calc((100% - 1200px) / 2);
  } 
}